extends ../layouts/default

block content
	.container: .jumbotron
		
		h2 未来联网汽车智能与服务趋势探索
		
		ul.list-inline 
			li 
				a(href="/blog/577539cc7bf1845c561eaa0d") 车联网
			li 
				a(href="/blog/577539f97bf1845c561eaa0f") 汽车智能
			li 
				a(href="/blog/577539db7bf1845c561eaa0e") 无人驾驶
			li 
				a(href="/blog/577539ff7bf1845c561eaa10") 汽车共享
			li
				a(href="/blog") 更多...
		ul

		h1 X-AUTO
		
